
*.pptx

\.ipynb_checkpoints/

\.vscode/

\.Rhistory

*.potx

Szablon word_ON_01\.dotx

Sztuczna inteligencja\.zip

d1-3_5\.zip

*.pptx#

test_result\.md

do_ogarniecia_b\.md

do_zabrania\.md

todo\.md
